doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="data:;base64,iVBORw0KGgo=")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        if pageTitle
            title #{pageTitle} - #{siteName}
        else
            title #{siteName}
    body
        include partials/header
        mian
            block content
        include partials/footer
        script(src="https://kit.fontawesome.com/baa94097a5.js" crossorigin="anonymous")