extends base

block content
    if errMsg
        span=errMsg
    form(method="post")
        input(type="password", name="oldPassword" placeholder="Old Password")
        input(type="password", name="newPassword" placeholder="New Password")
        input(type="password" name="newPassword2" placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")
        