extends base

block content
    form(method="get") 
        input(type="text" name="query" placeholder="Search")
        button(type="submit") 
            i.fas.fa-search
    each video in videos
        a(href=`/videos/${video.id}`) 
            video(src=video.fileUrl) 