extends base

block content
    form(method="get") 
        input(type="text" name="query" placeholder="Search")
        button(type="submit") 
            i.fas.fa-search
    each video in videos
        video(src=video.fileUrl width=300 height=200 controls) 