extends base

block content
    if errMsg
        span=errMsg
    form(method="post" enctype="multipart/form-data")
        label(for="video") Video File
        input#video(type="file", name="video" accept="video/*")
