mixin videoPlayer(video)
    div#videoControls
        div
            span#play
                i.fas.fa-play
            div#time
                span#currenTime 00:00:00
                span  / 
                span#totalTime 00:00:00
        input#timeline(type="range" step="1", value="0" min="0")
        div
            input#volume(type="range" step="0.1" value="0.5" min="0" max="1")
            span#mute
                i.fas.fa-volume-up
        div
            span#fullScreen
                i.fas.fa-expand
                