extends base
include videoPlayer

block content
    #videoContainer
        video(src="/"+video.fileUrl width=400 height=400)
        +videoPlayer(video)
        div
            div title: #{video.title}
            div description: #{video.description}
            a(href=`/videos/${video.id}/edit`) Edit Video &rarr;

block scripts
    script(src="/assets/js/videoPlayer.js") 
            