extends base

block content
    video(src="/"+video.fileUrl width=800 height=400 controls)
    div title: #{video.title}
    div description: #{video.description}
    a(href=`/videos/${video.id}/edit`) Edit Video &rarr;